/* @import url(./reset-default-styles.css); */

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

input[type="file"] {
  display: none;
}

.markdownPreviewerChild {
  margin: 5px;
  min-height: 200px;
  min-width: 200px;
  padding: 5px;
  overflow: auto;
}

#markup {
  height: 100%;
  width: 100%;
  border-right: 1px solid #b4b4b4;
}

#content {
  overflow: auto;
}
