input[type="file"] {
  display: none;
}

#markdownPreviewer {
}
.markdownPreviewerChild {
  margin: 5px;
  height: 400px;
  width: 200px;
  padding: 5px;
  overflow: auto;
}

#markup {
  height: 100%;
  width: 100%;
}

#content {
  overflow: auto;
}

#contentPreview h1 {
  font-size: 1.5em;
}

#contentPreview h2 {
  font-size: 1.2em;
}

#contentPreview h3 {
  font-size: 1em;
}

#contentPreview h4 {
  font-size: 0.8em;
}

#contentPreview h5 {
  font-size: 0.7em;
}

#contentPreview h5 {
  font-size: 0.6em;
}

#contentPreview {
  font-size: 0.5em;
}
